<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}">

<body>
    <section layout:fragment="content">
        <h2>My Decks</h2>

        <a th:href="@{/decks/create}">Create New Deck</a>

        <ul>
            <li th:each="deck : ${decks}">
                <span th:text="${deck.name}"></span>
                <a th:href="@{'/decks/' + ${deck.id}}">Open</a>
            </li>
        </ul>
    </section>
</body>

</html>